<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.matt.van-scraper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/matt/van-scraper/scraper.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/matt/van-scraper</string>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/matt/van-scraper/scraper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/matt/van-scraper/scraper.log</string>
</dict>
</plist>
